{% extends 'base.html' %}

{% load static %}

{% block title %}Избранные рецепты{% endblock %}


{% block content %}

    <div class="container">

        <div class="p-3">
            <h3>Избранные рецепты</h3>
        </div>

        {% include 'recipe/recipes-list.html' %}

        {% if not recipes %}
            <div class="mt-4 position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">

            {% if request.GET.search %}
                <h1 class="text-body-emphasis p-4">Пусто : (</h1>
                <p class="col-lg-6 mx-auto mb-4">
                  По вашему запросу не было найдено рецептов
                </p>
            {% else %}
                <h1 class="text-body-emphasis p-4">Пусто : (</h1>
                <p class="col-lg-6 mx-auto mb-4">
                  Откройте любой рецепт и нажмите кнопку "В избранное", чтобы добавить сюда
                </p>
                <a href="/" class="btn btn-primary px-5 mb-5">
                  Смотреть рецепты
                </a>
            {% endif %}
            </div>


        {% endif %}

    </div>

{% endblock %}